.faq-section{
 background-color: #fff;
margin-top: 96px;
}
  
  .faq-item {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    /* background-color: #f7f7f7; */
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.3s ease-out;
  }
  
  .faq-answer.open {
    max-height: 1000px;
  }
  
  .faq-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #999;
    margin-right: 10px;
  }
  
  .faq-arrow.open {
    transition: transform 5s ease-in;
    border-top: none;
    border-bottom: 6px solid #999;
  }
  
  